/*Colours*/
#lvl1,#lvl2,#lvl3,#lvl4,#lvl5,#lvl6,#lvl7,#lvl8,
#Ada,#Jarvis,
#Com,#Rar,#Ver,
#Ke,
#Resistance,#Enlightenment{text-shadow: 0 0 1px;}

#Ada{color:#0022FF;}
#Jarvis{color:#28F428;}

#Com{color:#8dffc3;}
#Rar{color:#ab8afd;}
#Ver{color:#fe8bf5;}

#Ke{color:#ffcc00;}

#Resistance{color:#0022FF;}
#Enlightenment{color: #28F428;}
#Unclaimed{color:gray;}

#lvl1{color:#fece5a;}
#lvl2{color:#ffa630;}
#lvl3{color:#ff7315;}
#lvl4{color:#e40000;}
#lvl5{color:#fd2992;}
#lvl6{color:#eb26cd;}
#lvl7{color:#c124e0;}
#lvl8{color:#9627f4;}
