#MenuL{
	z-index: 1;
	position: fixed;
	top:0px;
	left:0px;
}
#MenuR{
	position: fixed;
	top:0px;
	right:0px;
	z-index: 1;
}
#Info{
	float:right;
}
#Item{
	display: inline;
	padding:0px;
}
#Item a{

	width:120px;
	height:initial;
	background-color:initial;
	color:#30AdA0;
	margin-top: 0px;
	box-shadow: 0 0 0;
	
	border:0;
	border-top: 3px solid #006d60;
	
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
#Item a:hover{
	text-decoration:underline;
	box-shadow:initial;
	-webkit-box-shadow:initial;
}
#Item a.active{
	color:#59FBEA;
	border-top: 3px solid #59FBEA;
	
	background: linear-gradient(to bottom, rgba(89, 251, 234, 0.2), rgba(0, 0, 0, 0));
	background: -webkit-linear-gradient(to bottom, rgba(89, 251, 234, 0.2), rgba(0, 0, 0, 0));
}
