@font-face {
  font-family: coda_regular;
  src: url('/Ingress/CSS/coda_regular.ttf');
}
body {
   	padding: 0;
   	margin: 0;
	font-family: coda_regular, arial, helvetica, sans-serif;
	text-align:center;
	color:#00C2FF;
	font-size:16;
	background-color:#000000;
	text-shadow: 0 0 1px;
}

form.short,
form{
	display: block;
	margin-left: auto ;
	margin-right: auto ;
	width:400px;
}
form.short{height:18px;}

form.inventory{
	display: inline-block;
	width:420px;
}

form.wide{
	width:500px;
}


input.fieldShort,
input.field{
	height:30px;
	width:280px;
	border: 1px solid #59FBEA;
	background-color: #0B0C0D;
	color: #DDD;
	font-size:16;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 5px;
	text-shadow: 0 0 1px;
	box-shadow: 0px 0px 1px #59FBEA, 0px 0px 1px #59FBEA inset;
}
input.fieldShort{width:220px;}


#lineWideTall,
#lineTall,
#lineLow,
#lineWide,
#line{
	display:block;
	margin-left: auto ;
	margin-right: auto ;
	width:400px;
}
#lineWide{width:280px;}
#lineLow{height:25px;}
#lineTall{height:30px;width:100%;padding:3px;}
#lineWideTall{height:25px;width:280px;}





textarea.R,
textarea{
	display:inline-block;
	font-family: coda_regular;
	padding:2px 0px 2px 0px;
	height:212px;
	width:100%;
	border: 1px solid #59FBEA;
	background-color: #0B0C0D;
	color: #DDD;
	font-size:16;
	resize:vertical;
}



/*Portals*/
#Portal{
	display:block;
	padding:3px;
	height:30px;
	width:430px;
	margin: 0 auto;
}
#Portal a{
	display:block;
	width:100%;
}



/*Line*/
#Left{
	text-align:left;
	float:left;
	display:inline;
}
#Right{
	text-align:right;
	float:right;
	display:inline;
}
#WideBlock{
	display:block;
	margin: 0 auto;
	height:30px;
	padding:5px 0px 5px 0px;
}
#whiteSpace,
#whiteSpaceWide{
	word-wrap: break-word;
	/*white-space: pre-wrap;*/
	text-align:left;
	display:block;
	margin: 0 auto;
	width:280px;
}
#whiteSpaceWide{width:500px;}



/*Location*/
#Location a{
	font-weight:bold;
	box-shadow:initial;
	-webkit-box-shadow:initial;
	height:initial;
	width:initial;
	border:0;
	background-color:0;
	color:#00C2FF;
}

#Location a:hover{
	text-decoration:underline;
}

/*Footer*/
#View{
	position: fixed;
	right:5px;
	bottom:5px;
}

form.footer{
	width: auto;
}

input.footer{
	color:#00C2FF;
	background: rgb(0,0,0);
	border:0px solid #59FBEA;
}

/*Map*/
#map-canvas{
	width:100%;
	height:100%;
	background-color:black;
	position:absolute;
	top: 0;
	left: 0;
}
#map-canvas a{
	font-size: initial;
	background-color: initial;
	width: initial;
	height: initial;
	border: initial;
	box-shadow:initial;
	-webkit-box-shadow:initial;
}

/*Table*/
table{
	border-spacing: 0;
}
input.Cell{
	height: 30px;
	width: 100%;
	text-align: center;
	border: 0;
	background-color: #0B0C0D;
	color: #DDD;
	font-size:16;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 2px;
	box-shadow: 	2px 1px 1px #59FBEA, 1px 2px 1px #59FBEA, 1px -2px 1px #59FBEA, -2px 1px 1px #59FBEA,
				2px -1px 1px #59FBEA, -1px 2px 1px #59FBEA, -1px -2px 1px #59FBEA, -2px -1px 1px #59FBEA;
}
td{
	width: 20%;
	padding: 0;
	text-align: left;
}


input.Hide{
	display: none;
}
