body {
	font-family: coda_regular, arial, helvetica, sans-serif;
	text-align:center;
	color:#00C2FF;
	background-color:#000000;
	font-size:30px;
}
@font-face {
  font-family: coda_regular;
  src: url('/Ingress/CSS/coda_regular.ttf');
}
/*Title*/
#Title{
	font-size:40;
	letter-spacing: 3px;
}
/*Login Page*/
form{
	display: inline-block;
	width:100%;
}
#line{
	display:block;
	margin-left: auto ;
	margin-right: auto ;
	width:100%;	
}
input.button,
input.field{
	height:60px;	
	width:450px;
	border: 1px solid #59FBEA;
	background-color: #0B0C0D;
	color: #DDD;
	font-family: coda_regular, arial, helvetica, sans-serif;
	font-size:16;
	margin: 5px;
	font-size:35px;
}
input.button{
	background-color: #004F4A;
	color: #59FBEA;
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
}
