@font-face {
  font-family: coda_regular;
  src: url('/Ingress/coda_regular.ttf');
}
body {
	font-family: coda_regular, arial, helvetica, sans-serif;
	text-align:center;
	color:#00C2FF;
	font-size:16;
	background-color:#000000;
	text-shadow: 0 0 1px;
}

form.short,
form{
	display: block;
	margin-left: auto ;
	margin-right: auto ;
	width:400px;
}
form.short{height:18px;}

form.inventory{
	display: inline-block;
	width:420px;
}

form.wide{
	width:500px;
}


input.fieldShort,
input.field{
	height:30px;
	width:280px;
	border: 1px solid #59FBEA;
	background-color: #0B0C0D;
	color: #DDD;
	font-size:16;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 5px;
	text-shadow: 0 0 1px;
	box-shadow: 0px 0px 1px #59FBEA, 0px 0px 1px #59FBEA inset;
}
input.fieldShort{width:220px;}


input.buttonOfficer,
input.button,
a{
	font-size:16;
	font-family: coda_regular, arial, helvetica, sans-serif;
	display:inline-block;
	color:#59FBEA;
	width:280px;
	text-align:center;
	background-color: #004F4A;
	border: 1px solid #59FBEA;
	text-decoration:none;
	height:30px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-shadow: 0 0 1px;
	box-shadow: 0px 0px 1px #59FBEA, 0px 0px 1px #59FBEA inset;
}


select:hover,
option:hover,
input.buttonOfficer:hover,
input.button:hover,
a:hover{
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
}
select,
option{
	font-size:16;
	font-family: coda_regular, arial, helvetica, sans-serif;
	display:inline-block;
	color:#59FBEA;
	height:100%;
	width:280px;
	text-align:center;
	background-color: #004F4A;
	border: 1px solid #59FBEA;
	text-decoration:none;
}
select{width:200px;}
input.buttonOfficer{color:#FF0000;}

/*Menu*/
#MenuL{
	float:left;
	z-index: 1;
}
#MenuR{
	float:right;
	z-index: 1;
}
#Info{
	float:right;
}
#Item{
	font-weight:bold;
	display: inline;
	padding:5px;
}
#Item a{
	height:initial;
	width:initial;
	border:0;
	background-color:initial;
	color:#00C2FF;
	margin-top: 0px;
	box-shadow: 0 0 0;
}
#Item a:hover{
	text-decoration:underline;
	box-shadow:initial;
	-webkit-box-shadow:initial;
}



/*General*/
#lineWideTall,
#lineTall,
#lineLow,
#lineWide,
#line{
	display:block;
	margin-left: auto ;
	margin-right: auto ;
	width:400px;
}
#lineWide{width:280px;}
#lineLow{height:25px;}
#lineTall{height:30px;width:100%;padding:3px;}
#lineWideTall{height:25px;width:280px;}





textarea.R,
textarea{
	display:inline-block;
	font-family: coda_regular;
	padding:2px 0px 2px 0px;
	height:212px;
	width:100%;
	border: 1px solid #59FBEA;
	background-color: #0B0C0D;
	color: #DDD;
	font-size:16;
	resize:vertical;
}



/*Portals*/
#Portal{
	display:block;
	padding:3px;
	height:30px;
	width:430px;
	margin: 0 auto;
}
#Portal a{
	display:block;
	width:100%;
}



/*Line*/
#Left{
	text-align:left;
	float:left;
	display:inline;
}
#Right{
	text-align:right;
	display:inline;
	float:right;
}
#WideBlock{
	display:block;
	margin: 0 auto;
	height:30px;
	padding:5px 0px 5px 0px;
}
#whiteSpace,
#whiteSpaceWide{
	word-wrap: break-word;
	/*white-space: pre-wrap;*/
	text-align:left;
	display:block;
	margin: 0 auto;
	width:280px;
}
#whiteSpaceWide{width:500px;}



/*Location*/
#Location a{
	font-weight:bold;
	box-shadow:initial;
	-webkit-box-shadow:initial;
	height:initial;
	width:initial;
	border:0;
	background-color:0;
	color:#00C2FF;
}

#Location a:hover{
	text-decoration:underline;
}



/*Graph*/
#Bar{
	border: 1px solid #59FBEA;
	display: inline-block;
	width:400px;
	height:30px;
	box-shadow: 0px 0px 1px #59FBEA, 0px 0px 1px #59FBEA inset;
}

#Bar:hover #Key{
	display:block;
}

#EMP,
#KEYS,
#RES,
#OTH,
#XMP{
	width:0;
	height:100%;
	display: inline-block;
	background-color:#e40000;
}
#XMP{float: left;}
#RES{background-color:#1021a9;float: left;}
#OTH{background-color:#666666;float: left;}
#KEYS{background-color:#ffcc00;float: left;}
#EMP{background-color:#000000;}

#K,
#R,
#O,
#X{
	text-align:center;
	position: relative;
	display:inline-block;
	width:25%;
	color:#e40000;
	text-shadow: 0 0 1px;
}
#O{color:#666666;}
#R{color:#1021a9;}
#K{color:#ffcc00;}

#Key{
	background-color:#101010;
	border: 1px solid #59FBEA;
	position: relative;
	display:none;
	bottom: 65px;
	right: 1px;
	width:400px;
	height:30px;
	box-shadow: 0px 0px 1px #59FBEA, 0px 0px 1px #59FBEA inset;
}

/*Counter*/
#Case{
	width: 61px;
	height: 62px;
	margin-left: auto ;
	margin-right: auto ;
}

#Meter0{background: url("/Ingress/sprite.png") no-repeat scroll 0px -124px transparent;height: 62px;}
#Meter1{background: url("/Ingress/sprite.png") no-repeat scroll 0px -558px transparent;height: 62px;}
#Meter2{background: url("/Ingress/sprite.png") no-repeat scroll 0px -186px transparent;height: 62px;}
#Meter3{background: url("/Ingress/sprite.png") no-repeat scroll 0px -620px transparent;height: 62px;}
#Meter4{background: url("/Ingress/sprite.png") no-repeat scroll 0px -372px transparent;height: 62px;}
#Meter5{background: url("/Ingress/sprite.png") no-repeat scroll 0px -930px transparent;height: 62px;}
#Meter6{background: url("/Ingress/sprite.png") no-repeat scroll 0px -248px transparent;height: 62px;}
#Meter7{background: url("/Ingress/sprite.png") no-repeat scroll 0px -682px transparent;height: 62px;}

#Counter{
	color: rgb(235, 188, 74);
	text-shadow: 0 0 3px;
	cursor: pointer;
	font-size: 32px;
	line-height: 58px;
	text-align: center;
	width: 61px;
}

#Case:hover #AP{
	display:block;
}

#AP{
	background-color:#101010;
	border: 1px solid #59FBEA;
	position: relative;
	display:none;
	bottom:43px;
	left: 63px;
	width:200px;
	height:30px;
	box-shadow: 0px 0px 1px #59FBEA, 0px 0px 1px #59FBEA inset;
}



/*Footer*/
#View{
	position: fixed;
	right:5px;
	bottom:5px;
}

form.footer{
	width: auto;
}

input.footer{
	color:#00C2FF;
	background: rgb(0,0,0);
	border:0px solid #59FBEA;
}

/*Map*/
#map-canvas{
	width:100%;
	height:100%;
	background-color:black;
	position:absolute;
	top: 0;
	left: 0;
}
#map-canvas a{
	font-size: initial;
	background-color: initial;
	width: initial;
	height: initial;
	border: initial;
	box-shadow:initial;
	-webkit-box-shadow:initial;
}

/*Table*/
table{
	border-spacing: 0;
}
input.Cell{
	height: 30px;
	width: 100%;
	text-align: center;
	border: 0;
	background-color: #0B0C0D;
	color: #DDD;
	font-size:16;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 2px;
	box-shadow: 	2px 1px 1px #59FBEA, 1px 2px 1px #59FBEA, 1px -2px 1px #59FBEA, -2px 1px 1px #59FBEA,
				2px -1px 1px #59FBEA, -1px 2px 1px #59FBEA, -1px -2px 1px #59FBEA, -2px -1px 1px #59FBEA;
}
td{
	width: 20%;
	padding: 0;
	text-align: left;
}


/*Colours*/
#lvl1,#lvl2,#lvl3,#lvl4,#lvl5,#lvl6,#lvl7,#lvl8,#Ada,#Jarvis,#Com,#Rar,#Ver,#Ke,#Resistance,#Enlightenment{text-shadow: 0 0 1px;}
#Ada{color:#0022FF;}#Jarvis{color:#28F428;}
#Com{color:#8dffc3;}#Rar{color:#ab8afd;}#Ver{color:#fe8bf5;}#Ke{color:#ffcc00;}
#Resistance{color:#0022FF;}#Enlightenment{color: #28F428;}#Unclaimed{color:gray;}
#lvl1{color:#fece5a;}#lvl2{color:#ffa630;}#lvl3{color:#ff7315;}#lvl4{color:#e40000;}#lvl5{color:#fd2992;}#lvl6{color:#eb26cd;}#lvl7{color:#c124e0;}#lvl8{color:#9627f4;}
